.Pokedex__pagination {
    /* border: 1px solid coral; */
    min-width: 280px;
    max-width: 600px;
    margin: 20px auto;    
}

.Pokedex__pagination-list {
    display: flex;
    justify-content: space-between;
}

.Pokedex__pagination-item {    
    background-color: #0c0c0c;
    color: #E5E5E5;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 300ms ease;
}

@media (min-width: 768px) {
    .Pokedex__pagination-item { 
        font-size: 20px;
     }    
}

.Pokedex__pagination-item:hover {
    background-color: #DD1A1A;
    opacity: 0.5;
    transform: scale(1.03);

}
