.Pokedex{
  max-width: 1400px;
  margin: 20px auto;
  padding: 0 20px;
}

.Pokedex p span {
    color: #FE1936;
    font-weight: bold;
}

.Pokedex__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.Pokedex__form-search{
    display: flex;
    flex-direction: column;
}

.Pokedex__form-search input {
    font-size: 16px;
    width: 280px;
    height: 35px;
    border: none;
    box-shadow: 0px 2px 5px 0px rgb(118 114 114);
    
}

.Pokedex__form-search button {
    width: 280px;
    height: 35px;
    font-size: 16px;
    border: none;
    padding: 10px;
    background-color: #D93F3F;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgb(118 114 114);
    cursor: pointer;
    
}

.Pokedex__form-select {
    min-width: 280px;
    height: 35px;
    font-size: 16px;
    box-shadow: 0px 2px 5px 0px rgb(118 114 114);
    border: none;
}

.Pokedex__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


@media (min-width: 768px) {
    .Pokedex__form {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 15px;
    }

    .Pokedex__form-search{
        flex-direction: row;
    }

    .Pokedex__form-search input {
        width: 250px;
    }

    .Pokedex__form-search button {
        max-width: 150px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 1024px) {
    .Pokedex__form-search input {
        width: 450px;
    }
}

@media (min-width: 1440px) {
    .Pokedex__form-search input {
        width: 550px;
    }
}